body {
  font-family: sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 16px;
}

.border {
  border: solid 1px silver;
  padding: 3px;
}

a {
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.disabled {
  color: #a0a0a0;
  cursor: default;
}

a:hover {
  background-color: #f5f5f5;
}

a:hover.disabled {
  background-color: transparent;
}

#title {
  line-height: 0
}

#tag-line {
  line-height: 0.9;
  margin: 0
}

hr {
  border: 0;
  height: 1px;
  background: #a0a0a0;
}

ol.mokedex li {
  margin-bottom: 5px;
}

ol.mokedex li div.info {
  font-size: smaller;
}

ul.messages {
  padding-left: 25px;
}

ul.messages li span {
  font-size: small;
}

.wordwrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


div {
  padding-top: 2px;
  padding-bottom: 2px;
}